


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0 50px;
    
}

.header_menu {
    
     margin: 133px 0 138px;
    
}

.header_links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    
}

.header_links-list-item_no-bullit {
    list-style-type: none;
}

.header_links-list-item_{

}

.header_link {

}

.header_link_active {

}

.header_logo {


}

.header_logo-image {
    display: block;
    width: 148px;
    height: 105px;
   margin: 92px 0 96px;
}
/* сбросить станд брауз стили*/
.address {

max-width: 240px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.header_address {
    justify-self: end;

}
.link {
list-style-type: none;
}

.cover {
    background-image: url("../images/cover.jpg");
    min-height: 757px;
    position: relative;
    z-index: 0;
}
.overlay{
position: absolute;
z-index: -1;
}

.cover_title{
    font-family: Raleway sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.aligned-text_left {

}

.aligned-text_center {

}

.aligned-text_right {

}

.cover__description {

}

.cover__description-text {
    font-family: Raleway sans-serif;
    font-weight: Regular;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    

}

.bet-button {
    font-family: Raleway sans-serif;
    font-weight: Medium;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border-width: 1px;
    border-color: #FFFFFF;

}

.lots {
    

}

.lots__heading {
    font-family: Raleway sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    

}
.lots__card-list{
    list-style-type: none;
    display: flex;
    gap: 25px;

   

}
.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    color: #FFFFFF;
}



.card-link{
    height: 100%;

}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}


.card__title {
font-family: Raleway sans-serif;
font-weight: bold;
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;

}

.card__text {
    font-family: Raleway sans-serif;
    font-weight: Regular;
    font-size: 20px;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}



.lots__look-more-link {
    /* Эти стили перенести в основной текст т.к. 
    размер такой же везде */
    font-family: Raleway sans-serif;
    font-weight: Regular;
    font-size: 20px;
    text-decoration: underline;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    

}
.columns {

}

.logo_columns {
    display: flex;
    justify-self: center;
    align-items: center;
background-color: #000000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}
.about__logo-image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 148px;
    height: 114px;
   
}
.about_columns {}

.title_about {}

.about__text {}

. footer {
display: grid;
grid-template-columns: 1fr 1fr min-content;
justify-content: space-between;
align-items: start;
}

/* может ли сюда подойти адрес титл???*/
.address_footer {}

/* Тот же вопрос про меню футера */
.menu_footer {
    
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {}

.footer__menu-link{}

.footer__menu-link_active {}
.socials {
    list-style-type: none;
    display: flex;
    justify-content:;
    gap: 48px;
}
.footer__social-list-item {

}

.footer__social-link {}

.footer__social-icon {
    width: 48px;
    height: 48px;
}